.idea/
**/.vs
**/build/*.exe
**/build/*.pdb
**/build/*.manifest
**/build/*.ini
**/ThirdParty/tinyobjloader
**/ThirdParty/termcolor
**/ThirdParty/stb-cmake
**/ThirdParty/openal-soft
**/ThirdParty/glm
**/CMakeFiles
**/build/*.ilk
**/build/CodeAnalysis/*.ilk
**/build/CodeAnalysis/*.xml
**/buildDLL/*.ilk
**/buildDLL/*.dll
**/buildDLL/*.pdb
**/*.exe
*.exe
**/*.obj
*.obj
**/*.jpg
*.jpg
**/*.mtl
*.mtl
**/*ilk
*ilk
**/*.ilk
*.ilk
**/*.dll
*.dll
**/*.spv
*.spv
**/*.png
*.png
**/*.class
*.class



